@media screen and (max-width:576px) {
    .navbar{
        flex-direction: row;
    }
    .navbar>div{
      margin-top: 10px;
    }
    .hamburger{
        display: block;
        color: white;
    }
    .nav-info{
        display: none;
        
    }
    
    
    .banner{
        flex-direction: column;
    }
    
    
    .item-container-routine  {
        flex-direction: column;
    }
    .routine-text{
        padding: 30px;
    }
    .routine-element-description{
        padding: 25px;
    }
    .run-extra{
        flex-direction: column;
    }
    .run-text{
        text-align: center;
        padding: 10px;
    }
    .run-img-container{
        padding: 20px;
    }
    .team-member-container {
        
        display: inline-block; 
        padding: 10px 50px;  
        gap: 10px;
    }
    .team-mate{
        padding: 20px;
    }
    .foot{
        flex-direction: column;
    }


}