@media screen and (max-width:576px) {
    .navbar{
        flex-direction: row;
    }
    .navbar>div{
      margin-top: 10px;
    }
    .hamburger{
        display: block;
        color: white;
    }
    .nav-info{
        display: none;
        
    }
    .banner{
        flex-direction: column;
    }
    .item-container-routine{
        flex-direction: column;
    }


}