 *{
    margin: 0;
    padding: 0;
    background-color:rgba(17, 17, 17, 1);
 } 
  /* navbar style */
.nav-tittle{
    color: #E6533C;
    font-size: 2.2rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
   
    padding: 20px;
  
    
}
.nav-info{
    display: flex;
    gap: 30px;
    border-radius: 25px;
    padding: 5px;
 
    align-items: center;
    background-color:rgba(17, 17, 17, 0.952) ;
    opacity: 1.5;
    color: white;
   
    
}
.btn-primary{
    background-color: #E6533C;
    padding: 5px ;
    border-radius: 10px;
}
.hamburger{
    display: none;
}

/* navbar style end */

/* banner style starts */

.banner-container{

    color: white;
    margin-top: 50px;
    padding: 20px;
    
    
}
.img{
    width: 100%;
    position: relative;
   

}
.banner-tittle{
    font-size: 4.8rem;
    font-weight: 900;
}
.banner-description{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.banner{
     display: flex; 
    justify-content: space-between;

    max-width: 1440px;
    margin: 0 auto;
   
}
.banner-img{
    width: 40%;
    }
.btn{
    margin-top: 10px;
    color: white;
}
.btn-scondary{
    border-radius: 10px;
    background-color:rgba(17, 17, 17, 0.952) ;
    padding: 5px;

}
.btn-img{
    color: white;
    padding: 5px;
    border: none;
    filter: brightness(3);
    border-radius: 10px; 
   

}
#first{
    position: absolute;
    left: 1000px;
   
   
      
}
#second{
    position: absolute;
    right: 500px;
    bottom: 50px;


}



/* banner style end */